@import '../../../src/styles/variables.module.scss';

.featureswrapper {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    border: 1px solid $boxBorderColor;

    div {
        display: flex;
        align-items: center;

        p {
            margin-right: 10px;
        }

        // border: 1px solid $boxBorderColor;

    }
}